.main-footer {
    background-color: #000;
    padding: 25px 200px;
    margin-top: 40px;
    z-index: 1200 !important;
    position: relative;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

}

.footer-logo-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.footer-logo-img {
    width: 200px;
    height: auto;
}

.brand-text {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.brand-text small {
    display: block;
    font-size: 1.0rem;
    font-weight: 300;
    color: #ede5e5;
}

.copyright {
    font-size: 0.8rem;
    color: #ffffff;
    margin: 0;
}

.footer-social {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: all 0.3s ease;
}

.footer-social a {
    color: #fff;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social a:hover {
    color: #a8a8a8;
    transform: translateY(-5px);
}

.footer-social a:hover .social-icon {
    filter: brightness(1.3);
}

.btn-back-top {
    background: none;
    border: 1px solid #444;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease;
}

.footprint-up {
    width: 20px;
    height: 20px;
    background-image: url('/images/huella_inv.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-back-top:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

@media (max-width: 970px) {
    .main-footer {
        padding: 15px 20px;
        margin: 0;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .footer-logo-group {
        justify-content: center;
        gap: 0;
    }

    .footer-social {
        order: 2;
    }

    .footer-back-top {
        order: 3;
    }

    .footer-social {
        justify-content: center;
        gap: 30px;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }

    .btn-back-top {
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 0.7rem;
    }

    .brand-text small {
        display: block;
        font-size: 0.7rem;
        font-weight: 300;
        color: #ede5e5;
    }
}