.navbar {
    /* background-color: #000000; */
    padding: 12px 200px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    height: 60px;
    width: auto;
    display: block;
    margin: 0px;
    margin-bottom: 7px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    margin: 0;
}

.nav-links li a {
    position: relative;
    text-decoration: none;
    /* color: #ffffff; */
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-links a.active {
    opacity: 1;
    transform: translateY(0);
}

.nav-links a:not(.active):hover {
    opacity: 0.3;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
}

@media (max-width: 970px) {
    .navbar {
        padding: 15px 20px;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        background-color: #000;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        gap: 1.0rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.4s ease-in-out;
    }

    .logo-img {
        height: 70px;
        width: auto;
        display: block;
        margin: -5px;
        z-index: 1000;
    }

    .nav-links.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        border-top: 1px solid white;
    }

    .nav-links li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-links li a {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        font-size: 1.0rem;
    }

    .menu-toggle.open span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 6px);
    }

    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
}

@media (max-width: 470px) {
    .logo-img {
        height: 60px;
        width: auto;
        display: block;
        margin: -5px;
    }
}